<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.device.dao.DeviceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gizwits.lease.device.entity.Device">
        <id column="sno" property="sno"/>
        <result column="ctime" property="ctime"/>
        <result column="utime" property="utime"/>
        <result column="name" property="name"/>
        <result column="mac" property="mac"/>
        <result column="work_status" property="workStatus"/>
        <result column="online_status" property="onlineStatus"/>
        <result column="fault_status" property="faultStatus"/>
        <result column="status" property="status"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="last_online_time" property="lastOnlineTime"/>
        <result column="operator_id" property="operatorId"/>
        <result column="operator_name" property="operatorName"/>
        <result column="launch_area_id" property="launchAreaId"/>
        <result column="launch_area_name" property="launchAreaName"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="agent_id" property="agentId"/>
        <result column="sys_user_id" property="sysUserId"/>
        <result column="giz_did" property="gizDid"/>
        <result column="giz_pass_code" property="gizPassCode"/>
        <result column="owner_id" property="ownerId"/>

        <result column="giz_ws_port" property="gizWsPort"/>
        <result column="giz_wss_port" property="gizWssPort"/>
        <result column="giz_host" property="gizHost"/>

        <result column="wx_did" property="wxDid"/>
        <result column="wx_ticket" property="wxTicket"/>
        <result column="content_url" property="contentUrl"/>
        <result column="group_id" property="groupId"/>

        <result column="install_user_name" property="installUserName"/>
        <result column="install_user_province" property="installUserProvince"/>
        <result column="install_user_city" property="installUserCity"/>
        <result column="install_user_area" property="installUserArea"/>
        <result column="install_user_address" property="installUserAddress"/>
        <result column="install_user_mobile" property="installUserMobile"/>

        <result column="activate_status" property="activateStatus"/>
        <result column="activated_time" property="activatedTime"/>

        <result column="origin" property="origin"/>
        <result column="abnormal_times" property="abnormalTimes"/>
        <result column="lock" property="lock"/>

        <result column="country" property="country"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>

    </resultMap>

    <select id="getDiffSysUserId" resultType="int">
		select DISTINCT sys_user_id from device
		WHERE sys_user_id IS NOT NULL and is_deleted=0 and status !=6
	</select>

    <select id="getDiffOwnerId" resultType="int">
        select DISTINCT owner_id from device
        WHERE owner_id IS NOT NULL
        and is_deleted =0
        and status !=6
    </select>

    <select id="getProductId" resultType="int">
      select distinct d.`product_id`
      from device d
      WHERE d.owner_id = #{sysUserId}
      AND d.product_id IS NOT NULL and d.is_deleted=0 and d.status !=6

    </select>

    <select id="getProductIdAndKey" resultType="map">
        select distinct d.`product_id`as productId,p.`gizwits_product_key` as productKey
        from device d,product p
        where d.`product_id` = p.`id`
        AND d.product_id IS NOT NULL and d.is_deleted=0 and d.status !=6
    </select>

    <select id="getTotalBySysUserIdAndIsNotDeleted" resultType="int">
        SELECT count(DISTINCT sno) FROM device
        WHERE owner_id= #{sysUserId}
        AND is_deleted = 0
        and status != 6
        <if test="productId != null">
            AND product_id = #{productId}
        </if>
        and ctime <![CDATA[<]]> #{endTime}
    </select>

    <select id="findByMacAndProductKey" resultMap="BaseResultMap">
        SELECT d.*
        FROM device d,product p
        WHERE d.product_id=p.id
        AND d.mac=#{mac,jdbcType=VARCHAR }
        AND p.gizwits_product_key=#{productKey,jdbcType=VARCHAR }
        and p.is_deleted=0
        and d.is_deleted=0
    </select>

    <select id="getNewCount" resultType="int">
        SELECT COUNT(DISTINCT sno) FROM device
        WHERE ctime between #{start} and #{end}
        AND is_deleted = 0
        AND owner_id = #{sysUserId}
        AND product_id = #{productId}
        AND status !=6
    </select>

    <select id="getActiveCount" resultType="int">
        SELECT COUNT(DISTINCT sno) FROM device
        where is_deleted = 0
        AND owner_id = #{sysUserId}
        AND product_id = #{productId}
        AND status !=6
        AND (online_status = 1 or last_online_time between #{start} and #{end})
    </select>

    <select id="getOrderedCount" resultType="int">
        SELECT COUNT(DISTINCT d.`sno`) FROM device d,order_base o
        WHERE o.`sno` = d.`sno`
        AND o.`ctime` between #{start} and #{end}
        AND d.`owner_id` = #{sysUserId}
        AND d.is_deleted=0
        and d.status !=6
        <if test="productId != null">
            AND d.`product_id` = #{productId}
        </if>
    </select>

    <select id="getAlarmCount" resultType="int">
        SELECT COUNT(DISTINCT d.`sno`)
        FROM device d,device_alarm a
        WHERE d.`sno` = a.`sno`
        AND a.`alarm_type` = 1
        and d.is_deleted=0
        and d.fault_status = 6
        and a.status = 0
        <if test="productId != null">
            AND product_id = #{productId}
        </if>
        AND d.`owner_id` = #{sysUserId}
    </select>

    <select id="getWarnCount" resultType="int">
        SELECT COUNT(DISTINCT d.`sno`)
        FROM device d,device_alarm a
        WHERE d.`sno` = a.`sno`
        AND a.`alarm_type` = 2
        and d.is_deleted=0
        and d.fault_status = 6
        and a.status = 0
        <if test="productId != null">
            AND d.`product_id` = #{productId}
        </if>

        AND d.`owner_id` = #{sysUserId}

    </select>

    <select id="getSnoByOpenid" resultType="string">
        SELECT o.`sno` FROM `user` u,order_base o
        WHERE o.`user_id` = u.`id`
        AND o.`order_status` = #{status}
        AND u.`openid` = #{openid}
        ORDER BY o.`ctime` DESC LIMIT 0,1

    </select>

    <select id="getDeviceWithoutArea" resultType="Integer">
        select COUNT(DISTINCT sno) from device where owner_id = #{ownerId}
        and  launch_area_id is  null and is_deleted = 0 and status !=6
        <if test="productId != null">
            AND `product_id` = #{productId}
        </if>

    </select>

    <select id="selectOnlineCount" resultType="java.lang.Integer">
        SELECT COUNT(sno) FROM device
        WHERE is_deleted = 0 AND status != 6
        AND owner_id = #{sysUserId}
        AND product_id = #{productId}
        AND online_status = 1
    </select>

    <select id="selectActivatedCount" resultType="java.lang.Integer">
        SELECT COUNT(sno) FROM device
        WHERE is_deleted = 0 AND status != 6
        AND owner_id = #{sysUserId}
        AND product_id = #{productId}
        AND activate_status = 2
        <if test="startTime != null">
            AND activated_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND activated_time <![CDATA[ < ]]> #{endTime}
        </if>
    </select>

    <select id="selectFaultCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT d.sno) FROM device d JOIN device_alarm a ON d.sno = a.sno
        WHERE d.is_deleted = 0 AND d.status != 6
        AND d.owner_id = #{sysUserId}
        AND d.product_id = #{productId}
        AND a.alarm_type = 1
        AND a.ctime <![CDATA[ < ]]> #{endTime}
        AND (
          a.status = 0
          OR
          (a.status = 1 AND a.fixed_time IS NOT NULL AND a.fixed_time <![CDATA[ >= ]]> #{endTime})
        )
    </select>

    <select id="selectAlertCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT d.sno) FROM device d JOIN device_alarm a ON d.sno = a.sno
        WHERE d.is_deleted = 0 AND d.status != 6
        AND d.owner_id = #{sysUserId}
        AND d.product_id = #{productId}
        AND a.alarm_type = 2
        AND a.ctime <![CDATA[ < ]]> #{endTime}
        AND (
          a.status = 0
          OR
          (a.status = 1 AND a.fixed_time IS NOT NULL AND a.fixed_time <![CDATA[ >= ]]> #{endTime})
        )
    </select>

    <select id="findProvinceAndCount" resultType="map">
        SELECT province,COUNT(DISTINCT d.`sno`) AS count FROM device d
        WHERE  d.`owner_id` = #{sysUserId}
        and d.is_deleted =0
        and d.status !=6
        <if test="productId !=null">
            AND d.product_id = #{productId}
        </if>
        GROUP BY province
    </select>

    <update id="updateActivateStatus">
        UPDATE device SET activate_status = 2, activated_time = #{time} WHERE sno = #{sno} AND activate_status = 1
    </update>

    <select id="selectTotalDeviceCount" resultType="com.gizwits.lease.stat.vo.StatDeviceWidgetVo">
        SELECT
        *
        FROM
        ( SELECT count( d1.sno ) AS totalCount FROM device d1 WHERE d1.is_deleted = 0
        <if test="productId!=null">
        and d1.product_id=#{productId}
      </if>
        ) total
        JOIN (
        SELECT
        count( d2.sno ) AS yesterNewCount
        FROM
        device d2
        WHERE
        d2.is_deleted = 0
        <if test="productId!=null">
            and d2.product_id=#{productId}
        </if>
        <if test="date!=null">
            and date_format(d2.ctime,'%Y-%m-%d') = date_format(#{date},'%Y-%m-%d')
        </if>
        ) AS yesterAdd
        JOIN (
        SELECT
        count( d3.sno ) AS onlineCount
        FROM
        device d3
        WHERE
        d3.is_deleted = 0
        <if test="productId!=null">
            and d3.product_id=#{productId}
        </if>
        AND d3.online_status = 1
        ) AS onlineDevice
        JOIN (
        SELECT
        count( d4.sno ) AS activeCount
        FROM
        device d4
        WHERE
        d4.is_deleted = 0
        <if test="productId!=null">
            and d4.product_id=#{productId}
        </if>
        AND d4.work_status = 3
        ) AS activeDevice
    </select>

    <select id="getAlarmAndFaultWidget" resultType="com.gizwits.lease.stat.vo.StatAlarmWidgetVo">
SELECT
	*
FROM
	( SELECT count( d1.sno ) AS totalCount FROM device d1 WHERE d1.is_deleted = 0
        <if test="productId!=null">
            and d4.product_id=#{productId}
        </if>
	 ) AS total
	JOIN (
SELECT
	count( d2.sno ) AS faultCount
FROM
	device d2
WHERE
	d2.is_deleted = 0
	AND d2.work_status = 6
        <if test="productId!=null">
            and d4.product_id=#{productId}
        </if>
	) AS fault
	JOIN (
SELECT
	count( d3.sno ) AS warnCount
FROM
	device d3
WHERE
	d3.is_deleted = 0
	AND d3.work_status = 8
        <if test="productId!=null">
            and d4.product_id=#{productId}
        </if>
	) AS warn
    </select>

    <select id="ditributionByProvince" parameterType="java.lang.Integer" resultType="com.gizwits.lease.stat.vo.StatLocationVo">
        select d.province as province, count(d.province) as deviceCount from device d where d.is_deleted=0
        <if test="productId!=null">
            and d.product_id=#{productId}
        </if>
         GROUP BY d.province
    </select>
    <select id="ditributionByCity"  resultType="com.gizwits.lease.stat.vo.StatLocationVo">
        select d.city as province, count(d.city) as deviceCount from device d where d.is_deleted=0
        <if test="province!=null and province!=''">
            and d.province=#{province}
        </if>
        <if test="productId!=null">
            and d.product_id=#{productId}
        </if>
        GROUP BY d.city
    </select>

    <select id="getDeviceStatictics" resultType="com.gizwits.lease.stat.vo.StatDeviceStatisticsVo">
SELECT
	*
FROM
	( SELECT count( d.sno ) AS total FROM device d WHERE d.is_deleted = 0 AND d.product_id = #{productId} ) AS total
	JOIN (
SELECT
	count( d1.sno ) AS addCount
FROM
	device d1
WHERE
	d1.is_deleted = 0
	AND d1.product_id = #{productId}
	AND date_format( d1.ctime, '%Y-%m-%d' ) = date_format(#{date}, '%Y-%m-%d' )
	) AS today
	JOIN (
SELECT
	count( d2.sno ) AS activeCount
FROM
	device d2
WHERE
	d2.is_deleted = 0
	AND d2.product_id = #{productId}
	AND d2.online_status = 1
	AND d2.work_status = 3
	) AS active
	JOIN (
SELECT
	count( d3.sno ) AS faultCount
FROM
	device d3
WHERE
	d3.is_deleted = 0
	AND d3.product_id = #{productId}
	AND d3.work_status = 6
	) AS fault
	JOIN (
SELECT
	count( d4.sno ) AS alarmCount
FROM
	device d4
WHERE
	d4.is_deleted = 0
	AND d4.product_id = #{productId}
	AND d4.work_status = 8
	) AS alarm
    </select>
</mapper>
