<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.message.dao.FeedbackUserDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.message.entity.FeedbackUser">
		<id column="id" property="id" />
		<result column="ctime" property="ctime" />
		<result column="utime" property="utime" />
		<result column="user_id" property="userId"/>
		<result column="nick_name" property="nickName" />
		<result column="avatar" property="avatar" />
		<result column="mobile" property="mobile" />
		<result column="content" property="content" />
		<result column="picture_url" property="pictureUrl" />
		<result column="picture_num" property="pictureNum" />
		<result column="origin" property="origin" />
		<result column="sno" property="sno" />
		<result column="mac" property="mac" />
		<result column="recipient_id" property="recipientId" />
		<result column="recipient_name" property="recipientName" />
		<result column="is_read" property="isRead" />
	</resultMap>

    <select id="selectFeedBack" resultType="com.gizwits.lease.message.vo.FeedbackListVo" parameterType="com.gizwits.lease.message.entity.dto.FeedbackQueryDto">
          select fb.id as id,fb.mobile as mobile,fb.type as type,fb.content as content,fb.picture_num as imgCount,fb.status as status,fb.ctime as ctime
          from feedback_user fb where fb.is_deleted=0
          <if test="mobile!=null">
               and fb.mobile like concat('%',#{mobile},'%')
          </if>
        <if test="content!=null">
            and fb.content like concat('%',#{content},'%')
        </if>
        order by fb.ctime
        limit #{current},#{size}
    </select>
    <select id="selectFeedBackCount" resultType="java.lang.Integer" parameterType="com.gizwits.lease.message.entity.dto.FeedbackQueryDto">
        select count(fb.id)
        from feedback_user fb where fb.is_deleted=0
        <if test="mobile!=null">
            and fb.mobile like concat('%',#{mobile},'%')
        </if>
        <if test="content!=null">
            and fb.content like concat('%',#{content},'%')
        </if>
    </select>
</mapper>
