<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.benefit.dao.ShareBenefitRuleModifyLimitDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.benefit.entity.ShareBenefitRuleModifyLimit">
		<id column="id" property="id" />
		<result column="ctime" property="ctime" />
		<result column="utime" property="utime" />
		<result column="sys_user_id" property="sysUserId" />
		<result column="before_bill_limit" property="beforeBillLimit" />
		<result column="period_unit" property="periodUnit" />
		<result column="period_limit" property="periodLimit" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="weekdays" property="weekdays" />
	</resultMap>

	<insert id="insertOrUpdate">
		INSERT INTO share_benefit_rule_modify_limit (sys_user_id, ctime, before_bill_limit, period_unit, period_limit, start_time, end_time, weekdays)
		VALUES (#{sysUserId}, #{ctime}, #{beforeBillLimit}, #{periodUnit}, #{periodLimit}, #{startTime}, #{endTime}, #{weekdays})
		ON DUPLICATE KEY UPDATE utime = #{ctime}, before_bill_limit = #{beforeBillLimit}, period_unit = #{periodUnit}, period_limit = #{periodLimit},
		start_time = #{startTime}, end_time = #{endTime}, weekdays = #{weekdays}
	</insert>

</mapper>
