<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.stat.dao.StatDeviceTrendDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gizwits.lease.stat.entity.StatDeviceTrend">
        <id column="id" property="id"/>
        <result column="ctime" property="ctime"/>
        <result column="sys_user_id" property="sysUserId"/>
        <result column="new_count" property="newCount"/>
        <result column="product_id" property="productId"/>
        <result column="ordered_count" property="orderedCount"/>
        <result column="ordered_percent" property="orderedPercent"/>
        <result column="active_count" property="activeCount"/>
        <result column="previous_deivce_total" property="previousDeviceTotal"/>
        <result column="new_activated_count" property="newActivatedCount"/>
        <result column="fault_count" property="faultCount"/>
        <result column="alert_count" property="alertCount"/>
    </resultMap>

    <select id="getNewTrend" resultMap="BaseResultMap">
        <if test="dto.productId!=null">
            SELECT ctime,new_count as newCount FROM stat_device_trend
             <include refid="getNewTrendWhereSql"/>
        </if>
        <if test="dto.productId ==null">
            SELECT ctime,sum(new_count) AS newCount FROM stat_device_trend
            <include refid="getNewTrendWhereSqlProductIdIsNull"/>
        </if>

        <if test="productId ==null">
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>
        ORDER BY ctime
    </select>
    <sql id="getNewTrendWhereSqlProductIdIsNull">
        <where>
            <if test="fromDate!=null and toDate!=null">
                And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
                Date_format(#{toDate},'%Y-%m-%d')
            </if>
        </where>

    </sql>
    <sql id="getNewTrendWhereSql">
         <where>
             <if test="productId!=null">
                 and product_id=#{productId}
             </if>
             <if test="fromDate!=null and toDate!=null">
                 And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
                 Date_format(#{toDate},'%Y-%m-%d')
             </if>
         </where>

    </sql>
    <select id="getNewTrendByIds" resultMap="BaseResultMap">
        select * from (SELECT ctime,sum(new_count) AS new_count,sum(previous_deivce_total) as previous_deivce_total FROM stat_device_trend
        <include refid="widgetWhere"/>
        GROUP BY date_format(ctime,'%Y-%m-%d')) t
        ORDER BY t.ctime
    </select>

    <select id="getActiveTrend" resultMap="BaseResultMap">
        <if test="productId!=null">
            SELECT ctime,active_count as activeCount FROM stat_device_trend
            WHERE product_id = #{productId}
        </if>
        <if test="productId==null">
            SELECT ctime,sum(active_count) as activeCount FROM stat_device_trend
            WHERE 1=1
        </if>
        <if test="fromDate!=null and toDate!=null">
            And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
            Date_format(#{toDate},'%Y-%m-%d')
        </if>
        <if test="productId ==null">
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>
        ORDER BY ctime
    </select>

    <select id="getActiveTrendByIds" resultMap="BaseResultMap">
        select * from (SELECT ctime,sum(active_count) as active_count FROM stat_device_trend
        <include refid="widgetWhere"/>
        GROUP BY date_format(ctime,'%Y-%m-%d')) t
        ORDER BY t.ctime
    </select>

    <select id="getUsePecentTrend" resultMap="BaseResultMap">
        <if test="dto.productId != null">
            SELECT ctime,ordered_percent FROM stat_device_trend
            WHERE sys_user_id = #{sysUserId}
            AND product_id = #{dto.productId}
        </if>
        <if test="dto.productId == null">
            SELECT ctime,sum(ordered_percent) as ordered_percent FROM stat_device_trend
            WHERE sys_user_id = #{sysUserId}
        </if>
        <if test="dto.fromDate!=null and dto.toDate!=null">
            And Date_format(ctime,'%Y-%m-%d') between Date_format(#{dto.fromDate},'%Y-%m-%d') and
            Date_format(#{dto.toDate},'%Y-%m-%d')
        </if>
        <if test="dto.productId ==null">
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>
        ORDER BY ctime
    </select>

    <select id="getUsePecentTrendByIds" resultMap="BaseResultMap">
       select * from ( SELECT ctime,sum(ordered_percent) as ordered_percent, sum(previous_deivce_total) as
        previous_deivce_total,sum(ordered_count) as ordered_count FROM stat_device_trend
        <include refid="widgetWhere"/>
        GROUP BY date_format(ctime,'%Y-%m-%d')) t
        ORDER BY t.ctime
    </select>

    <select id="getNewActivatedTrend" resultMap="BaseResultMap">
       select * from ( SELECT ctime, SUM(new_activated_count) AS new_activated_count FROM stat_device_trend
        <include refid="widgetWhere"/>
        GROUP BY date_format(ctime,'%Y-%m-%d')) t
        ORDER BY t.ctime
    </select>

    <select id="getFaultDeviceTrend" resultMap="BaseResultMap">
        <if test="productId!=null">
            SELECT ctime,fault_count as faultCount FROM stat_device_trend
            WHERE product_id = #{productId}
        </if>
        <if test="productId==null">
            SELECT ctime,sum(fault_count) as faultCount FROM stat_device_trend
            WHERE 1=1
        </if>
        <if test="fromDate!=null and toDate!=null">
            And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
            Date_format(#{toDate},'%Y-%m-%d')
        </if>
        <if test="productId ==null">
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>
        ORDER BY ctime
    </select>

    <select id="getAlertDeviceTrend" resultMap="BaseResultMap">
        <if test="productId!=null">
            SELECT ctime,alert_count as alertCount FROM stat_device_trend
            WHERE product_id = #{productId}
        </if>
        <if test="productId==null">
            SELECT ctime,sum(alert_count) as alertCount FROM stat_device_trend
            WHERE 1=1
        </if>
        <if test="fromDate!=null and toDate!=null">
            And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
            Date_format(#{toDate},'%Y-%m-%d')
        </if>
        <if test="productId ==null">
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>
        ORDER BY ctime
    </select>

    <sql id="widgetWhere">
       <where>
        <if test="dto.productId !=null and dto.productId != 0">
            AND product_id = #{dto.productId}
        </if>
        <if test="dto.fromDate!=null and dto.toDate!=null">
            And Date_format(ctime,'%Y-%m-%d') between Date_format(#{dto.fromDate},'%Y-%m-%d') and
            Date_format(#{dto.toDate},'%Y-%m-%d')
        </if>
       </where>

    </sql>

    <select id="getTotalTrend" parameterType="com.gizwits.lease.stat.dto.StatDeviceTrendDto" resultMap="BaseResultMap">
        <if test="productId!=null">
            SELECT ctime,new_count FROM stat_device_trend
            <include refid="getTotalTrendWhereSql"/>
        </if>
        <if test="dto.productId ==null">
            SELECT ctime,sum(new_count) AS new_count FROM stat_device_trend
             <include refid="getTotalTrendWhereSqlProductIdIsNull"/>
            GROUP BY date_format(ctime,'%Y-%m-%d')
        </if>

        order by ctime
    </select>
    <sql id="getTotalTrendWhereSqlProductIdIsNull">
        <where>
            <if test="fromDate!=null and toDate!=null">
                And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
                Date_format(#{toDate},'%Y-%m-%d')
            </if>
        </where>
    </sql>
    <sql id="getTotalTrendWhereSql">
         <where>
             <if test="productId!=null">
                 and product_id=#{productId}
             </if>
             <if test="fromDate!=null and toDate!=null">
                 And Date_format(ctime,'%Y-%m-%d') between Date_format(#{fromDate},'%Y-%m-%d') and
                 Date_format(#{toDate},'%Y-%m-%d')
             </if>
         </where>
    </sql>
</mapper>
