<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.device.dao.UserBindDeviceDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.device.entity.UserBindDevice">
		<id column="id" property="id" />
		<result column="ctime" property="ctime" />
		<result column="utime" property="utime" />
		<result column="sno" property="sno" />
		<result column="mac" property="mac" />
		<result column="account_num" property="accountNum" />
		<result column="user_id" property="userId" />
		<result column="is_deleted" property="isDeleted" />
		<result column="is_manage" property="isManage" />
		<result column="mobile" property="mobile" />
	</resultMap>

    <select id="findBindDeviceByUserId" resultType="com.gizwits.lease.device.vo.UserBindDeviceListVo">
         select d.sno as sno,d.mac as mac,d.name as name,d.online_status as onlineStatus,d.product_name as productName,ubd.ctime as bindDate
    from device d  join user_bind_device ubd on d.mac=ubd.mac
	 left join user u on u.id=ubd.user_id where d.is_deleted=0 and ubd.is_deleted=0 and u.is_deleted=0
	 and u.id=#{userId}
	order by d.online_status
	limit #{current},#{size}
    </select>
    <select id="findBindDeviceByUserIdCount" resultType="java.lang.Integer">
         select count(d.sno)
    from device d  join user_bind_device ubd on d.mac=ubd.mac
	 left join user u on u.id=ubd.user_id where d.is_deleted=0 and ubd.is_deleted=0 and u.is_deleted=0
	 and u.id=#{userId}
    </select>
</mapper>
